{% extends 'main/home.html' %}

{% block title_page %}
    <title> sign up </title>
{% endblock title_page %}

{% block mainblock %}

	<br>
	<h2 class="text-center">Register</h2>
	<br>
	<div class="ontainer-fluid col-12 d-flex justify-content-center">
		<form method="POST" action="{% url 'signupuser' %}">
			{% csrf_token %}

			{% if form.errors %}
				<div class="alert alert-warning alert-dismissable" role="alert">
				<button class="close" data-dismiss="alert">
						<small><sup>x</sup></small>
					</button>
				<p>Your Form Has Errors...</p>
				{% for field in form %}
					{% if field.errors  %}
						{{ field.errors }}
					{% endif %}

				{% endfor %}

			</div>


			{% endif %}
			
			{% if form_1.errors %}
				<div class="alert alert-warning alert-dismissable" role="alert">
					<button class="close" data-dismiss="alert">
							<small><sup>x</sup></small>
						</button>
					<p>Your Form Has Errors...</p>
					{% for field in form_1 %}
						{% if field.errors  %}
							{{ field.errors }}
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
			{{ form.as_p }}

            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name_store">Store Name</label>
                    <input type="text" name="name_store" class="form-control" id="name_store" required>
                </div>
				<div class="form-group">
                    <label for="email">Store Email</label>
                    <input type="text" name="email" class="form-control" id="email" required>
                </div>
				<div class="form-group">
                    <label for="phone_store">Store Phone</label>
                    <input type="text" name="phone_store" class="form-control" id="phone_store" required>
                </div>
				<div class="form-group">
                    <label for="country_store">Country City</label>
                    <input type="text" name="country_store" class="form-control" id="country_store" required>
                </div>
				<div class="form-group">
                    <label for="city_store">Store City</label>
                    <input type="text" name="city_store" class="form-control" id="city_store" required>
                </div>
				<div class="form-group">
                    <label for="address_store">Street Store</label>
                    <input type="text" name="address_store" class="form-control" id="address_store" required>
                </div>
				<div class="form-group">
                    <label for="address_number_store">Number Street Store</label>
                    <input type="text" name="address_number_store" class="form-control" id="address_number_store" required>
                </div>
				<div class="form-group">
                    <label for="name_contact">Contact name</label>
                    <input type="text" name="name_contact" class="form-control" id="name_contact" required>
                </div>
				<div class="form-group">
                    <label for="phone_contact">Contact Phone</label>
                    <input type="text" name="phone_contact" class="form-control" id="phone_contact" required>
                </div>
				<input type="submit" value="Register" class="btn btn-secondary">
            </form>
			
		</form>
	</div>
	<br>

{% endblock mainblock%}