{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 60%;
		width: 100%;
      }
		#footer-fix {
				border: 1px solid white;
				background-color: white;
				padding-top: 100px;
				padding-right: 100%;
			}
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      function initMap() {
        const myLatlng = { lat: 31.971015920820747, lng: 34.76979384410635 };
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 13,
          center: myLatlng,
        });
        const marker = new google.maps.Marker({
          position: myLatlng,
          map,
          title: "Click to zoom",
        });
        map.addListener("center_changed", () => {
          // 3 seconds after the center of the map has changed, pan back to the
          // marker.
          window.setTimeout(() => {
            map.panTo(marker.getPosition());
          }, 3000);
        });
        marker.addListener("click", () => {
          map.setZoom(8);
          map.setCenter(marker.getPosition());
        });
      }
    </script>
	<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.png' %}"/>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
	<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/css/animsition.min.css' %}">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.min.css' %}">
	<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<!--===============================================================================================-->
  </head>
  	<body class="animsition">
		<!-- Header -->
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'about' %}">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'contact' %}">Contact</a>
					</li>
					{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link disabled" href="#"> Hi! {{user}}</a>
						</li>
						<li class="nav-item">
							<a href="#" onclick="$('#signOutBtn').click()" class="nav-link" style="margin-right: 45px;">Logout</a>
							<form style='display: none;' method="POST" action="{% url 'logoutuser' %}" >
								{% csrf_token %}
								<button id="signOutBtn" type="submit">Logout</button>
							</form>
						</li>
					{% endif %}

					</ul>
					<div class="right-topbar p-l-18">
						<a href="#">
							<span class="fab fa-facebook-f "></span>
						</a>

						<a href="#">
							<span class="fab fa-youtube"></span>
						</a>

						<a href="#" class="left-topbar-item"></a>
					</div>
				</div>
			</nav>
				<!--  -->
			
			<div class="d-flex flex-column ">
				<div class="p-2 d-flex justify-content-center">
					<a href="/"><img src="{%static 'images/logo.png' %} " alt="LOGO"></a>
				</div>
				{% if user.is_authenticated %}
					<div class="p-2">
						<nav class="menu-desktop d-flex justify-content-center">
							<ul class="main-menu">
								<li class="main-menu-active">
									<a href="/">Home</a>
								</li>

								<li class="mega-menu-item">
									<a href="#">Add Car</a>
								</li>

								<li class="mega-menu-item">
									<a href="#">Edit Car</a>
								</li>

								<li class="mega-menu-item">
									<a href="#">Profile</a>
								</li>
							</ul>
						</nav>
					</div>
				{% endif %}
			</div>
			
		</header>
			<div class="row">
				<div class="col">
					<div class="card">
					<div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Contact us.
					</div>
					<div class="card-body">
						<form>
							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
							</div>
							<div class="form-group">
								<label for="email">Email address</label>
								<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
								<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
							</div>
							<div class="form-group">
								<label for="phone">Phone address</label>
								<input type="phone" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="Enter phone" required>
								<small id="phoneHelp" class="form-text text-muted">We'll never share your phone with anyone else.</small>
							</div>
							<div class="form-group">
								<label for="message">Message</label>
								<textarea class="form-control" id="message" rows="6" required></textarea>
							</div>
							<div class="mx-auto">
							<button type="submit" class="btn btn-primary text-right">Submit</button></div>
						</form>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-4">
				<div class="card bg-light mb-3">
					<div class="card-header bg-success text-white text-uppercase"><i class="fa fa-home"></i> Address</div>
					<div class="card-body">
						<p>Where I Am Street</p>
						<p>75008 Lod</p>
						<p>Israel</p>
						<p>Email : safe@alnkib.com</p>
						<p>Tel. +972 085598690</p>
					</div>
				</div>
				
				<div id="map" ></div>

			</div>
		</div>
			
	</div>
	<!-- Footer -->
		<footer>
			<div class="bg11 fixed-bottom" >
				<div class="container size-h-4 flex-c-c p-tb-15">
					<span class="f1-s-1 cl0 txt-center">
						Copyright © 2021 

						<a href="#" class="f1-s-1 cl10 hov-link1">
							Copyright &copy;<script>document.write(new Date().getFullYear());
							</script> All rights reserved | Development by <a href="https://alnkib.com" target="_blank">Alnkib Abed</a>
					</span>
				</div>
			</div>
		</footer>

		<!-- Back to top -->
		<div class="btn-back-to-top" id="myBtn">
			<span class="symbol-btn-back-to-top">
				<span class="fas fa-angle-up"></span>
			</span>
		</div>

		<!-- Modal Video 01-->
		<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog" role="document" data-dismiss="modal">
				<div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

				<div class="wrap-video-mo-01">
					<div class="video-mo-01">
						
					</div>
				</div>
			</div>
		</div>
		<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
		<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmFEKDQ2qv7MJRx8YQ558ScklRPhJh3rQ&callback=initMap&libraries=&v=weekly"
		async
		></script>
	<!--===============================================================================================-->	
		<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<!--===============================================================================================-->
		<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>